*{
    padding: 0;
    margin: 0;
}
#leftdiv{
    float: left;
    width: 40%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
#rightdiv{
    float: right;
    width: 60%;
    height: 100vh;
    background-color: white;
}
.footerdiv{
    
    height: 15vh;
background-color: red;
}

#logobox{
    position: fixed;
    left:10%;
    top:26%;
    cursor:pointer;
}
#logindetails{
    height: 325px;
    width: 600px;
    position:fixed;
    top: 26%;
    left: 50%;
    border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}
#loginlogo{
    position:fixed;
    top: 9%;
    left: 64.5%;
    z-index: 1;
}

#username{
    position: fixed;
    height: 50px;
    width: 384px;
    top: 40.5%;
    left: 56%;
    font-size: 15px;
    padding-left: 19px;
    border-width: 0.5px;
  border-radius: 360px;
}
#password{
    position: fixed;
    height: 50px;
    width: 384px;
    padding-left: 19px;
    top: 51%;
    left: 56%;
    font-size: 15px;
    border-width: 0.5px;
    border-radius: 360px;
}
#signIn{
    position: fixed;
    height: 50px;
    width: 180px;    
    top: 61.5%;
    left: 56%;
    border-width: 0.5px;
    border-radius: 360px;
    cursor: pointer;
}
#signUp{
    position: fixed;
    height: 50px;
    width: 180px;
    top: 61.5%;
    left: 70.3%;
    border-width: 0.5px;
    border-radius: 360px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#email{
    position: fixed;
    height: 50px;
    width: 384px;
    top: 30%;
    left: 56%;
    font-size: 15px;
    padding-left: 19px;
    border-width: 0.5px;
  border-radius: 360px;
}